# === DJANGO SETTINGS ===
DEBUG=True
SECRET_KEY=django-insecure-replace-this-in-prod
ALLOWED_HOSTS=localhost,127.0.0.1

# === DATABASE ===
DATABASE_URL=postgres://postgres_username:postgres_password@db:5432/django_db
POSTGRES_DB=django_db
POSTGRES_USER=postgres_username
POSTGRES_PASSWORD=postgres_password
